<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css">
</head>
<body>
<h1><%= title %></h1>

<label>Enter data or load the test data</label>

<div class=container">

<form action="/admin/insert" method="post">

    <div class="row form-group">
        <label for="timestamp">Timestamp</label>
        <input type="text" name="timestmp" class="form-control">
    </div>

    <div class="row form-group">
        <label for="dest_ip">Destination IP</label>
        <input type="text" name="dest_ip" class="form-control">
    </div>

    <div class="row form-group">
        <label for="dir_ingress">Direction VN</label>
        <input type="text" name="dest_vn" class="form-control">
    </div>

    <div class="row form-group">
        <label for="dir_ingress">Direction Ingress</label>
        <input type="text" name="dir_ingress" class="form-control">
    </div>

    <div class="row form-group">
        <label for="dest_port">Destination port</label>
        <input type="text" name="dest_port" class="form-control">
    </div>

    <div class="row form-group">
        <label for="protocol">Protocol</label>
        <input type="text" name="protocol" class="form-control">
    </div>

    <div class="row form-group">
        <label for="source_ip">Source IP</label>
        <input type="text" name="source_ip" class="form-control">
    </div>

    <div class="row form-group">
        <label for="source_vn">Source VN</label>
        <input type="text" name="source_vn" class="form-control">
    </div>

    <div class="row form-group">
        <label for="source_port">Source port</label>
        <input type="text" name="source_port" class="form-control">
    </div>

    <div class="row form-group">
        <label for="sum_bytes_kb">Sum of bytes in kb</label>
        <input type="text" name="sum_bytes_kb" class="form-control">
    </div>

    <div class="row form-group">
        <label for="sum_packets">Sum of packets</label>
        <input type="text" name="sum_packets" class="form-control">
    </div>

    <input type="submit" value="Add this row to table" class="btn btn-primary">
</form>


<form action="/admin/clear" method="get">
    <div class = "row form-group">
        <input type="submit" value="Clear Data" class="btn btn-primary">
    </div>
</form>

<form action="/admin/test" method="get">
    <div class = "row form-group">
        <input type="submit" value="Load test data" class="btn btn-primary">
    </div>
</form>
</div>
</body>
</html>